<div class="container book-add-container">
  <div class="card">
    <div class="card-header">
      <h3>CREATE NEW BOOK ENTRY</h3>
    </div>
    <div class="card-body col-8 offset-2">
      <form name="addForm" #addF="ngForm">
        <div class="form-group">
          <label for="isbn">ISBN*</label>
          <input type="number" class="form-control" name="isbn" [(ngModel)]="formData.isbn" required />
        </div>
        <div class="form-group">
          <label for="title">Title*</label>
          <input type="text" class="form-control" name="title" placeholder="Title" [(ngModel)]="formData.title" required />
        </div>
        <div class="form-group">
          <label for="subtitle">SubTitle*</label>
          <input type="text" class="form-control" name="subtitle" placeholder="SubTitle" [(ngModel)]="formData.subtitle" required />
        </div>
        <div class="form-group">
          <label for="author">Author*</label>
          <input type="text" class="form-control" name="author" placeholder="Author" [(ngModel)]="formData.author" required />
        </div>
        <div class="form-group">
          <label for="publisher">Publisher*</label>
          <input type="text" class="form-control" name="publisher" placeholder="Publisher" [(ngModel)]="formData.publisher" required />
        </div>
        <div class="form-group">
          <label for="published">Date Published*</label>
          <input type="text" class="form-control" name="published" placeholder="MM/DD/YYYY" 
          [(ngModel)]="formData.published" required readonly
          [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" [max]="maxDate" />
          <owl-date-time #dt1 pickerType="calendar"></owl-date-time>
        </div>
        <div class="form-group">
          <label for="pages">No. of Pages*</label>
          <input type="number" class="form-control" name="pages" placeholder="No. of Pages" [(ngModel)]="formData.pages" required />
        </div>
        <div class="form-group">
          <label for="website">Website*</label>
          <input type="text" class="form-control" name="website" placeholder="Website" [(ngModel)]="formData.website" required />
        </div>
        <div class="form-group">
          <label for="description">Description*</label>
          <textarea class="form-control" rows="4" name="description" placeholder="Description" [(ngModel)]="formData.description" required></textarea>
        </div>
        <br />
        <button type="button" class="btn btn-primary btn-lg float-right" [disabled]="addF.invalid" (click)="submitForm()">SUBMIT</button>
      </form>
    </div>
  </div>
</div>
