<div class="container">
  <div class="row">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Book App</a>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/book-search" routerLinkActive="active">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/book-add" routerLinkActive="active">Create</a>
            </li>
          </ul>
        </div>
    </nav>
  </div>

  <router-outlet></router-outlet>
</div>
