.book-search-container {
    margin-top: 120px;
    margin-bottom: 50px;

    .search-container {
        margin-bottom: 70px;

        input {
            margin-bottom: 25px;
            text-align: center;
            border: 2px solid #cccccc;
        }

        button {
            font-weight: bold;
        }
    }
}

th {
    text-align: center;
}

.details-container {
    margin-top: 100px;

    .card-header {
        text-align: center;
        padding: 20px;

        .header-title {
            margin: 20px 0;
            font-size: 30px;
        }

        .header-subtitle {
            margin-bottom: 20px;
            font-weight: normal;
        }

        .header-author {
            font-size: 14px;
            font-style: italic;
            color: #a3a3a3;
            font-weight: normal;
        }
    }
}