<div class="container book-search-container" *ngIf="viewId == undefined; else: details">
  <div class="container search-container">
      <input class="form-control form-control-lg col-8 offset-2" type="text" placeholder="Title" #title />
      <button type="button" class="btn btn-danger btn-lg col-4 offset-4" (click)="searchTitle(title.value)">SEARCH</button>
  </div>

  <h3>List of Books</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">ISBN</th>
        <th scope="col">TITLE</th>
        <th scope="col">AUTHOR</th>
        <th scope="col">PUBLISHER</th>
        <th scope="col">OPTIONS</th>
      </tr>
    </thead>
    <tbody *ngIf="data?.length > 0" >
      <tr *ngFor="let books of data; let i = index">
        <th scope="row">{{ books.isbn }}</th>
        <td>
          <a [href]="books.website" target="_blank">{{ books.title }}</a>
        </td>
        <td>{{ books.author }}</td>
        <td>{{ books.publisher }}</td>
        <td>
          <button type="button" class="btn btn-info" (click)="viewDetails(i)">View Details</button>
        </td>
      </tr>
    </tbody>
    <tbody *ngIf="data?.length == 0">
      <tr>
        <td class="table-danger text-center" colspan="5">No records found.</td>
      </tr>
    </tbody>
  </table>
</div>


<ng-template #details>
  <div class="container details-container">
    <div class="card">
      <h4 class="card-header">
        <div class="header-title">{{ data[viewId].title }}</div>
        <div class="header-subtitle">"{{ data[viewId].subtitle }}"</div>
        <div class="header-author">Author: {{ data[viewId].author }}</div>
      </h4>
      <div class="card-body">
        <h6 class="card-title">ISBN: {{ data[viewId].isbn }}</h6>
        <h6 class="card-title">No. of Pages: {{ data[viewId].pages }}</h6>
        <h6 class="card-title">Publisher: {{ data[viewId].publisher }} | Date Published: {{ data[viewId].published | date }}</h6>
        <h6 class="card-title">Website: <a [href]="data[viewId].website" target="_blank">{{ data[viewId].website }}</a></h6>
        <p class="card-text">
          <b>Description:</b><br />
          {{ data[viewId].description }}</p>
        <div class="float-right">
          <button type="button" class="btn btn-primary" (click)="back()">Back</button>
          <button type="button" class="btn btn-danger" (click)="deleteBook()">Delete</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
